In [54]:
import pandas as pd
data = pd.read_csv('tweet.csv')
data

,username,time,tweet
0,Sky Sports Cricket,2020-07-08 10:24:04,"""Until we educate the entire human race, this ..."
1,Sky Sports Cricket,2020-07-08 10:37:21,"""We've all been looking away for too long."" \n..."
2,Sky Sports Cricket,2020-07-08 10:08:16,"""If you don't educate people, they'll keep gro..."
3,KCBS 106.9 FM/740 AM,2020-07-07 22:41:40,BREAKING: The #Martinez couple caught on video...
4,Cincinnati Reds,2020-07-07 20:06:40,That's our first baseman. \n\n#BlackLivesMatter

In [55]:
tweet_list = data['tweet'].tolist()
tweet_list

['"Until we educate the entire human race, this thing will not stop." \n\nMichael Holding delivers a powerful message, explaining why #BlackLivesMatter.',
 '"We\'ve all been looking away for too long." \n\n@nassercricket opens up on his experiences of racism, the impact of the killing of George Floyd and why people should be proud to wear #BlackLivesMatter badges.',
 '"If you don\'t educate people, they\'ll keep growing up in that sort of society and you\'ll not get meaningful change." \n\nMichael Holding and @ejrainfordbrent say that institutionalised racism must be eradicated for the good of humanity. #BlackLivesMatter',
 "BREAKING: The #Martinez couple caught on video painting over the approved #BlackLivesMatter mural on #FourthofJuly are being charged with a hate crime, according to a release from the #ContraCostaCounty District Attorney's office.",
 "That's our first baseman. \n\n#BlackLivesMatter"]

In [56]:
data['tweet']

0    "Until we educate the entire human race, this ...
1    "We've all been looking away for too long." \n...
2    "If you don't educate people, they'll keep gro...
3    BREAKING: The #Martinez couple caught on video...
4      That's our first baseman. \n\n#BlackLivesMatter
Name: tweet, dtype: object

In [57]:
#Number of Words
data['word_count'] = data['tweet'].apply(lambda x: len(str(x).split(" ")))
data[['tweet','word_count']].head()

                                               tweet  word_count
0  "Until we educate the entire human race, this ...          21
1  "We've all been looking away for too long." \n...          34
2  "If you don't educate people, they'll keep gro...          37
3  BREAKING: The #Martinez couple caught on video...          32
4    That's our first baseman. \n\n#BlackLivesMatter           5

In [58]:
#Number of characters
data['char_count'] = data['tweet'].str.len() ## this also includes spaces
data[['tweet','char_count']].head()

                                               tweet  char_count
0  "Until we educate the entire human race, this ...         148
1  "We've all been looking away for too long." \n...         206
2  "If you don't educate people, they'll keep gro...         252
3  BREAKING: The #Martinez couple caught on video...         230
4    That's our first baseman. \n\n#BlackLivesMatter          45

In [59]:
#Average Word Length
#Number of characters(without space count)/Total number of words
def avg_word(sentence):
  words = sentence.split()[:-1]
  print(words)
  print(len(words))
  print(sum(len(word) for word in words))
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['tweet'].apply(lambda x: avg_word(x))
data[['tweet','avg_word']].head()

['"Until', 'we', 'educate', 'the', 'entire', 'human', 'race,', 'this', 'thing', 'will', 'not', 'stop."', 'Michael', 'Holding', 'delivers', 'a', 'powerful', 'message,', 'explaining', 'why']
20
108
['"We\'ve', 'all', 'been', 'looking', 'away', 'for', 'too', 'long."', '@nassercricket', 'opens', 'up', 'on', 'his', 'experiences', 'of', 'racism,', 'the', 'impact', 'of', 'the', 'killing', 'of', 'George', 'Floyd', 'and', 'why', 'people', 'should', 'be', 'proud', 'to', 'wear', '#BlackLivesMatter']
33
164
['"If', 'you', "don't", 'educate', 'people,', "they'll", 'keep', 'growing', 'up', 'in', 'that', 'sort', 'of', 'society', 'and', "you'll", 'not', 'get', 'meaningful', 'change."', 'Michael', 'Holding', 'and', '@ejrainfordbrent', 'say', 'that', 'institutionalised', 'racism', 'must', 'be', 'eradicated', 'for', 'the', 'good', 'of', 'humanity.']
36
197
['BREAKING:', 'The', '#Martinez', 'couple', 'caught', 'on', 'video', 'painting', 'over', 'the', 'approved', '#BlackLivesMatter', 'mural', 'on', '#FourthofJuly', 'are', 'being', 'charged', 'with', 'a', 'hate', 'crime,', 'according', 'to', 'a', 'release', 'from', 'the', '#ContraCostaCounty', 'District', "Attorney's"]
31
192
["That's", 'our', 'first', 'baseman.']
4
22

                                               tweet  avg_word
0  "Until we educate the entire human race, this ...  5.400000
1  "We've all been looking away for too long." \n...  4.969697
2  "If you don't educate people, they'll keep gro...  5.472222
3  BREAKING: The #Martinez couple caught on video...  6.193548
4    That's our first baseman. \n\n#BlackLivesMatter  5.500000

In [60]:
#Number of stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['stopwords'] = data['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['tweet','stopwords']].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rushi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                               tweet  stopwords
0  "Until we educate the entire human race, this ...          7
1  "We've all been looking away for too long." \n...         17
2  "If you don't educate people, they'll keep gro...         15
3  BREAKING: The #Martinez couple caught on video...         12
4    That's our first baseman. \n\n#BlackLivesMatter          1

In [61]:
#Number of special characters
data['hastags'] = data['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data[['tweet','hastags']].head()

                                               tweet  hastags
0  "Until we educate the entire human race, this ...        1
1  "We've all been looking away for too long." \n...        1
2  "If you don't educate people, they'll keep gro...        1
3  BREAKING: The #Martinez couple caught on video...        4
4    That's our first baseman. \n\n#BlackLivesMatter        1

In [62]:
#Number of numerics
data['numerics'] = data['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['tweet','numerics']].head()

                                               tweet  numerics
0  "Until we educate the entire human race, this ...         0
1  "We've all been looking away for too long." \n...         0
2  "If you don't educate people, they'll keep gro...         0
3  BREAKING: The #Martinez couple caught on video...         0
4    That's our first baseman. \n\n#BlackLivesMatter         0

In [63]:
#Number of Uppercase words
data['upper'] = data['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['tweet','upper']].head()

                                               tweet  upper
0  "Until we educate the entire human race, this ...      0
1  "We've all been looking away for too long." \n...      0
2  "If you don't educate people, they'll keep gro...      0
3  BREAKING: The #Martinez couple caught on video...      1
4    That's our first baseman. \n\n#BlackLivesMatter      0

In [64]:
pos_family = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

# function to check and get the part of speech tag count of a words in a given sentence
from textblob import TextBlob, Word, Blobber
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
def check_pos_tag(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_family[flag]:
                cnt += 1
                print(ppo, tup)
    except:
        pass
    return cnt

data['noun_count'] = data['tweet'].apply(lambda x: check_pos_tag(x, 'noun'))
data['verb_count'] = data['tweet'].apply(lambda x: check_pos_tag(x, 'verb'))
data['adj_count'] = data['tweet'].apply(lambda x: check_pos_tag(x, 'adj'))
data['adv_count'] = data['tweet'].apply(lambda x: check_pos_tag(x, 'adv'))
data['pron_count'] = data['tweet'].apply(lambda x: check_pos_tag(x, 'pron'))
data[['tweet','noun_count','verb_count','adj_count', 'adv_count', 'pron_count' ]].head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rushi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\rushi\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

NN ('race', 'NN')
NN ('thing', 'NN')
NNP ('Michael', 'NNP')
NNP ('Holding', 'NNP')
NN ('message', 'NN')
NNP ('BlackLivesMatter', 'NNP')
NN ('@', 'NN')
NN ('nassercricket', 'NN')
NNS ('experiences', 'NNS')
NN ('racism', 'NN')
NN ('impact', 'NN')
NN ('killing', 'NN')
NNP ('George', 'NNP')
NNP ('Floyd', 'NNP')
NNS ('people', 'NNS')
NNP ('BlackLivesMatter', 'NNP')
NNS ('badges', 'NNS')
NNS ('people', 'NNS')
NN ('sort', 'NN')
NN ('society', 'NN')
NN ('change', 'NN')
NNP ('Michael', 'NNP')
NNP ('Holding', 'NNP')
NN ('ejrainfordbrent', 'NN')
NN ('racism', 'NN')
NN ('humanity', 'NN')
NNP ('BlackLivesMatter', 'NNP')
NN ('BREAKING', 'NN')
NNP ('Martinez', 'NNP')
NN ('couple', 'NN')
NN ('caught', 'NN')
NN ('video', 'NN')
NN ('painting', 'NN')
NNP ('BlackLivesMatter', 'NNP')
NN ('mural', 'NN')
NNP ('FourthofJuly', 'NNP')
NN ('hate', 'NN')
NN ('crime', 'NN')
NN ('release', 'NN')
NNP ('ContraCostaCounty', 'NNP')
NNP ('District', 'NNP')
NNP ('Attorney', 'NNP')
NN ('office', 'NN')
NN ('baseman', 'NN')
NNP ('BlackLivesMatter', 'NNP')
VBP ('educate', 'VBP')
VB ('stop', 'VB')
VBZ ('delivers', 'VBZ')
VBG ('explaining', 'VBG')
VBP ("'ve", 'VBP')
VBN ('been', 'VBN')
VBG ('looking', 'VBG')
VBZ ('opens', 'VBZ')
VB ('be', 'VB')
VB ('wear', 'VB')
VBP ('do', 'VBP')
VB ('educate', 'VB')
VB ('keep', 'VB')
VBG ('growing', 'VBG')
VB ('get', 'VB')
VBP ('say', 'VBP')
VB ('be', 'VB')
VBN ('eradicated', 'VBN')
VBP ('are', 'VBP')
VBG ('being', 'VBG')
VBN ('charged', 'VBN')
VBG ('according', 'VBG')
VBZ ("'s", 'VBZ')
JJ ('entire', 'JJ')
JJ ('human', 'JJ')
JJ ('powerful', 'JJ')
JJ ('long', 'JJ')
JJ ('proud', 'JJ')
JJ ('meaningful', 'JJ')
JJ ('@', 'JJ')
JJ ('institutionalised', 'JJ')
JJ ('good', 'JJ')
JJ ('approved', 'JJ')
JJ ('first', 'JJ')
RB ('not', 'RB')
WRB ('why', 'WRB')
RB ('away', 'RB')
RB ('too', 'RB')
WRB ('why', 'WRB')
RB ("n't", 'RB')
RB ('not', 'RB')
PRP ('we', 'PRP')
PRP ('We', 'PRP')
PRP$ ('his', 'PRP$')
PRP ('you', 'PRP')
PRP ('they', 'PRP')
PRP ('you', 'PRP')
PRP$ ('our', 'PRP$')

,tweet,noun_count,verb_count,adj_count,adv_count,pron_count
0,"""Until we educate the entire human race, this ...",6,4,3,2,1
1,"""We've all been looking away for too long."" \n...",11,6,2,3,2
2,"""If you don't educate people, they'll keep gro...",10,8,4,2,3
3,BREAKING: The #Martinez couple caught on video...,16,4,1,0,0
4,That's our first baseman. \n\n#BlackLivesMatter,2,1,1,0,1

In [65]:
data.head()

,username,time,tweet,word_count,char_count,avg_word,stopwords,hastags,numerics,upper,noun_count,verb_count,adj_count,adv_count,pron_count
0,Sky Sports Cricket,2020-07-08 10:24:04,"""Until we educate the entire human race, this ...",21,148,5.400000,7,1,0,0,6,4,3,2,1
1,Sky Sports Cricket,2020-07-08 10:37:21,"""We've all been looking away for too long."" \n...",34,206,4.969697,17,1,0,0,11,6,2,3,2
2,Sky Sports Cricket,2020-07-08 10:08:16,"""If you don't educate people, they'll keep gro...",37,252,5.472222,15,1,0,0,10,8,4,2,3
3,KCBS 106.9 FM/740 AM,2020-07-07 22:41:40,BREAKING: The #Martinez couple caught on video...,32,230,6.193548,12,4,0,1,16,4,1,0,0
4,Cincinnati Reds,2020-07-07 20:06:40,That's our first baseman. \n\n#BlackLivesMatter,5,45,5.500000,1,1,0,0,2,1,1,0,1

In [66]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [67]:
cv=CountVectorizer()
A_vec = cv.fit_transform(tweet_list)
print(A_vec.toarray())

[[0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0
  0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0
  0 0 0 0 0 1 0 1 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0]
 [0 1 1 0 0 0 1 1 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0
  0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 3 0 1 1 0 0 0 1 0 1 0 1
  0 0 1 0 0 0 0 2 0 0 0 1 1 0 1 1 0 1 1 1 0 0 0]
 [0 0 2 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 1 0 0 0 1
  1 1 0 0 1 0 1 1 0 1 1 1 0 2 0 0 0 1 0 1 0 1 0 1 2 0 0 0 0 0 0 1 0 0 0 1
  0 1 0 1 1 0 2 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 2]
 [1 0 0 1 1 1 0 0 0 0 0 1 1 1 1 0 1 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0
  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 2 0 0 1 1 0 0 0 0 0
  1 0 0 0 0 0 0 3 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
  0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

In [68]:
tv=TfidfVectorizer(ngram_range = (2,2),stop_words = 'english', token_pattern=r'[a-z]+[a-z]')
t_vec = tv.fit_transform(tweet_list)
print(t_vec.toarray())

[[0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.29296785 0.         0.         0.29296785
  0.         0.         0.29296785 0.         0.         0.29296785
  0.         0.         0.         0.         0.         0.
  0.29296785 0.         0.29296785 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.29296785 0.23636462 0.         0.         0.
  0.         0.         0.         0.29296785 0.         0.29296785
  0.         0.         0.         0.         0.         0.
  0.29296785 0.29296785 0.         0.         0.        ]
 [0.         0.         0.         0.25       0.         0.25
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.25       0.
  0.25       0.         0.25       0.         0.         0.
  0.         0.         0.         0.         0.25       0.
  0.25       0.         0.         0.25       0.25       0.
  0.         0.         0.         0.         0.25       0.25
  0.         0.         0.25       0.         0.25       0.
  0.         0.25       0.         0.         0.         0.
  0.         0.         0.25       0.         0.25      ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.23155274 0.         0.
  0.         0.         0.         0.         0.23155274 0.
  0.23155274 0.23155274 0.         0.23155274 0.         0.
  0.         0.         0.         0.23155274 0.23155274 0.
  0.         0.23155274 0.         0.23155274 0.         0.23155274
  0.         0.23155274 0.23155274 0.         0.         0.
  0.23155274 0.         0.18681529 0.         0.         0.
  0.         0.23155274 0.         0.         0.         0.
  0.23155274 0.         0.         0.23155274 0.23155274 0.23155274
  0.         0.         0.         0.         0.        ]
 [0.23570226 0.23570226 0.23570226 0.         0.         0.
  0.23570226 0.23570226 0.23570226 0.         0.23570226 0.23570226
  0.23570226 0.23570226 0.         0.23570226 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.23570226 0.         0.         0.         0.23570226
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.23570226
  0.         0.         0.         0.23570226 0.         0.
  0.23570226 0.         0.         0.         0.         0.
  0.         0.         0.23570226 0.         0.         0.
  0.         0.         0.         0.23570226 0.        ]
 [0.         0.         0.         0.         1.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]]

In [69]:
feature_names = tv.get_feature_names()

dense = t_vec.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

In [70]:
feature_names

['according release',
 'approved blacklivesmatter',
 'attorney office',
 'away long',
 'baseman blacklivesmatter',
 'blacklivesmatter badges',
 'blacklivesmatter mural',
 'breaking martinez',
 'caught video',
 'change michael',
 'charged hate',
 'contracostacounty district',
 'couple caught',
 'crime according',
 'delivers powerful',
 'district attorney',
 'don educate',
 'educate entire',
 'educate people',
 'ejrainfordbrent say',
 'entire human',
 'eradicated good',
 'experiences racism',
 'explaining blacklivesmatter',
 'floyd people',
 'fourthofjuly charged',
 'george floyd',
 'good humanity',
 'growing sort',
 'hate crime',
 'holding delivers',
 'holding ejrainfordbrent',
 'human race',
 'humanity blacklivesmatter',
 'impact killing',
 'institutionalised racism',
 'killing george',
 'll growing',
 'll meaningful',
 'long nassercricket',
 'looking away',
 'martinez couple',
 'meaningful change',
 'message explaining',
 'michael holding',
 'mural fourthofjuly',
 'nassercricket opens',
 'opens experiences',
 'painting approved',
 'people ll',
 'people proud',
 'powerful message',
 'proud wear',
 'race thing',
 'racism eradicated',
 'racism impact',
 'release contracostacounty',
 'say institutionalised',
 'society ll',
 'sort society',
 'stop michael',
 'thing stop',
 've looking',
 'video painting',
 'wear blacklivesmatter']

In [72]:
df_c =pd.concat([df,data], axis=1)
df_c.head()

,according release,approved blacklivesmatter,attorney office,away long,baseman blacklivesmatter,blacklivesmatter badges,blacklivesmatter mural,breaking martinez,caught video,change michael,...,avg_word,stopwords,hastags,numerics,upper,noun_count,verb_count,adj_count,adv_count,pron_count
0,0.000000,0.000000,0.000000,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.000000,...,5.400000,7,1,0,0,6,4,3,2,1
1,0.000000,0.000000,0.000000,0.25,0.0,0.25,0.000000,0.000000,0.000000,0.000000,...,4.969697,17,1,0,0,11,6,2,3,2
2,0.000000,0.000000,0.000000,0.00,0.0,0.00,0.000000,0.000000,0.000000,0.231553,...,5.472222,15,1,0,0,10,8,4,2,3
3,0.235702,0.235702,0.235702,0.00,0.0,0.00,0.235702,0.235702,0.235702,0.000000,...,6.193548,12,4,0,1,16,4,1,0,0
4,0.000000,0.000000,0.000000,0.00,1.0,0.00,0.000000,0.000000,0.000000,0.000000,...,5.500000,1,1,0,0,2,1,1,0,1